<!--   Страничка «Кабинет Админа гостиницы», вкладка «Заказы»,
действие при нажатии кнопки «Просмотреть» -->
<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <p> Hotel: <b>hotel</b></p>
    <p> Room: <b>room</b></p>
    <p> Customer's Name: <b>...</b></p>
    <p> Customer's LastName: <b>...</b></p>
    <p> Customer's phone: <b>...</b></p>
    <p> Customer's email <b>...</b></p>

    <p>
        <input type="date" name="calCheckIn"> check in date
    </p>
    <p>
        <input type="date" name="calCheckOut"> check out date
    </p>

    <p>
        <input name=InputNumberOfPeople type=number style="width: 5em;"> Number of people
    </p>
    <p>
         <input name=inputPrice type=number style="width: 5em;"> Price
    </p>

    <p>
        Pay system <b>...</b>
    </p>

    <p>Special requests:</p>
    <p>
        <textarea name="textRequests" cols="40" rows="5"></textarea>
    </p>
    <p>
        <button name="buttonClose" class = btn> Close</button>
    </p>
</div>


