<!--   Страничка «Кабинет Админа гостиницы», вкладка «Заказы»,
действие при нажатии кнопки «Просмотреть» -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<p></p>
<div class="row">
    <div class="col-md-4 col-xs-1"></div>
    <div class="col-md-4 col-xs-10">
        <form role="form" class="form-inline">
            <div class="row">
                <div class="col-md-6">
                    <label for="Hotel">Hotel</label>
                    <input type="text" name="inputHotel" class="form-control" style="width:100%">
                </div>
                <div class="col-md-6">
                    <label for="Room">Room</label>
                    <input type="text" name="inputRoom" class="form-control" style="width:100%">
                </div>
            </div>
        </form>

        <form role="form" class="form-inline">
            <div class="row">
                <div class="col-md-6">
                    <label for="cusName">Customer's Name:</label>
                    <input type="text" name="inputName" class="form-control" style="width:100%">
                </div>
                <div class="col-md-6">
                    <label for="cusLastName">Customer's Lastname</label>
                    <input type="text" name="inputLastName" class="form-control" style="width:100%">
                </div>
            </div>
        </form>

        <form role="form" class="form-inline">
            <div class="row">
                <div class="col-md-6">
                    <label for="inputPhone">Customer's phone:</label>
                    <input type="text" name="inputPhone" class="form-control" style="width:100%">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail"> Customer's email</label>
                    <input type="email" name="inputEmail" class="form-control" style="width:100%">
                </div>
            </div>
        </form>

        <form role="form" class="form-inline">
            <div class="row">
                <div class="col-md-6">
                    <label for="calCheckIn">Check-in date</label>
                    <input type="date" name="calCheckIn" class="form-control" style="width:100%">
                </div>
                <div class="col-md-6">
                    <label for="calCheckOut">Check-out date</label>
                    <input type="date" name="calCheckOut" class="form-control" style="width:100%">
                </div>
            </div>
        </form>

        <form role="form" class="form-inline">
            <div class="row">
                <div class="col-md-6">
                    <label for="inputNumberOfPeople">Number of people</label>
                    <input type="number" name="inputNumberOfPeople" value="1" class="form-control" style="width:100%">
                </div>
                <div class="col-md-6">
                    <label for="Price">Price of booking</label>
                    <input type="number" name="inputPrice" class="form-control" style="width:100%">
                </div>
            </div>
        </form>


        <form role="form" class="form-inline">
            <div class="row">
                <div class="col-md-12">
                    <label for="PaySystem">Pay system</label>
                    <select name="SelectPaySystem" id="SelectPaySystem" class="form-control" style="width:100%">
                        <option value="">- Pay system -</option>
                    </select>

                </div>
            </div>

        </form>
        <form role="form" class="form-inline">
            <label for="textRequests">Special Requests</label>
            <textarea name="textRequests" rows="4" class="form-control" style="width:100%"></textarea>

        </form>
        <form role="form" class="form-inline">
            <div class="row">
                <div class="col-md-4">
                    <button name="buttonCansel" class="btn" style="width:100%"> Cansel</button>
                </div>
                <div class="col-md-8"></div>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-xs-1"></div>
</div>


