<!-- Страничка «Кабинет Админа гостиницы», вкладка
Гостинцы» -->

<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <p>
        Country
        <select name="SelectCountry" id="SelectCountry">
            <option value="">- Country -</option>
        </select>
        City
        <select name="SelectCity" id="SelectCity">
            <option value="">- room -</option>
        </select>

        Hotel
        <select name="SelectHotel" id="SelectHotel">
            <option value="">- Hotel -</option>
        </select>

        <button name="buttonClear" class = "btn"> Clear</button>
        <button name="buttonNewHotel" class = "btn"> New Hotel</button>
    </p>
    <p>
    <table border="0" class = "table">
        <tr>
            <th>County</th>
            <th>City</th>
            <th>Hotel</th>
            <th>Check-in time</th>
            <th>Check-out Time</th>
            <th>View</th>
        </tr>
        <tr>
            <td>Spain</td>
            <td>Barcelona</td>
            <td>Givnetto</td>
            <td>12.10.1993</td>
            <td>16.10.2017</td>
            <td> <p><a class="btn btn-default" href="#/" role="button">View &raquo;</a></p></td>
        </tr>
    </table>
    </p>
</div>