<!-- Страничка «Кабинет Админа гостиницы», вкладка
Гостинцы» -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div>
    <p>
        Room
        <input type="text" name="inputRoom" size="2">
        Hotel
        <select name="SelectHotel" id="SelectHotel">
            <option value="">- Hotel -</option>
        </select>
        Number of people
        <select name="SelectNumberOfPeople" id="SelectNumberOfPeople">
            <option value="">- number of people -</option>
        </select>
        Price
        <select name="SelectPrice" id="SelectPrice">
            <option value="">- price -</option>
        </select>
        <button name="buttonClear" class ="btn"> Clear</button>
        <button name="buttonNewRoom" class ="btn"> New room</button>
    </p>
    <p>
        <table border="0" class = "table">
            <tr>
                <th>Room</th>
                <th>Hotel</th>
                <th>Number of people</th>
                <th>Price</th>
                <th>View</th>
            </tr>
            <tr>
                <td>Example</td>
                <td>Givnetto</td>
                <td>2</td>
                <td>1660</td>
                <td>
    <p><a class="btn btn-default" href="#/" role="button">View &raquo;</a></p></td>
    </tr>
    </table>
    </p>
</div>