<!--   Страничка «Кабинет пользователя», вкладка «Текущие
заказы», действие при нажатии кнопки «Просмотреть» -->
<div>
    <p> Hotel: <b>hotel</b></p>
    <p> Room: <b>room</b></p>
    <p> Administrator <b>...</b></p>
    <p> Phone: <b>...</b></p>
    <p>
        check in date : <input type="date" name="calCheckIn">
        check out date : <input type="date" name="calCheckOut">
    </p>

    <p>
        Number of people <input type="number" name="inputNumberOfPeople" value="1">
        Price <input type="number" name="inputPrice"></p>

    <p>
        <select name="Select" id="SelectPaySystem">
            <option value="">- pay system -</option>
        </select>
    </p>
    <p>special requests:</p>
    <p>
        <textarea name="Text1" cols="40" rows="5"></textarea>
    </p>
    <p>
        <button name="buttonClose"> Close</button>
    </p>
</div>


