<!-- выборку по отелям копирнул с главной страницы. никакой логики нет -->
<!--   Страничка «Бронирование»  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div>
    <p>
        <input type="text" name="inputHotel"> Hotel
    </p>
    <p>
        <input type="text" name="inputRoom"> Room
    </p>
    <p>
        <input type="date" name="calCheckIn">Check-in date
    </p>
    <p>
        <input type="date" name="calCheckOut"> Check-out date
    </p>
    <p><input type="number" name="inputNumberOfPeople" value="1" style="width: 5em;">
        Number of people
    </p>
    <p>
        <input type="number" name="inputPrice" style="width: 5em;">
        Price
    </p>
    <p>
        <select name="SelectPaySystem" id="SelectPaySystem">
            <option value="">- Pay system -</option>
        </select>
    </p>
    <p>
        <button name="buttonConfirm" class="btn"> Confirm reservation</button>
        <button name="buttonCansel" class="btn"> Cansel</button>
    </p>
    <p>Special requests:</p>
    <p>
        <textarea name="textRequests" cols="40" rows="5"></textarea>
    </p>
</div>


