<!-- выборку по отелям копирнул с главной страницы. никакой логики нет -->
<!--   Страничка «Бронирование»  -->
<div>
    <p>
        Hotel <input type="text" name="inputHotel">
    </p>
    <p>
        Room <input type="text" name="inputRoom">
    </p>
    Select check in date : <input type="date" name="calCheckIn">
    Select check out date : <input type="date" name="calCheckOut">
    </p>
    <p>Number of people <input type="number" name="inputNumberOfPeople" value="1">
        Price <input type="number" name="inputPrice"></p>
    <li>
        <select name="Select" id="SelectPaySystem">
            <option value="">- pay system -</option>
        </select>
    </li>

    <p>
        <button name="buttonConfirm"> Confirm reservation</button>
        <button name="buttonCansel"> Cansel</button>
    </p>
    <p>special requests:</p>
    <p>
        <textarea name="textRequests" cols="40" rows="5"></textarea>
    </p>
</div>


