<!--  Страничка «Кабинет пользователя», вкладка
«Завершенные» заказы     -->
<div>
    <p>
        Hotels
        <select name="SelectHotel" id="SelectHotel">
            <option value="">- Hotel -</option>
        </select>
        Select check in date : <input type="date" name="calCheckIn">
        Select check out date : <input type="date" name="calCheckOut">
        Number of people <input type="number" name="inputNumberOfPeople" value="1">
        <button name="buttonClear"> Clear</button>
        <button name="buttonNew"> New</button>
    </p>
    <p>
    <table border="1">
        <tr>
            <th>Order number</th>
            <th>Hotel</th>
            <th>Check-in time</th>
            <th>Check-out Time</th>
            <th>Number of people</th>
            <th>Price</th>
            <th>Viev</th>
        </tr>
        <tr>
            <td>5</td>
            <td>Example</td>
            <td>12.10.1993</td>
            <td>16.10.2017</td>
            <td>7</td>
            <td>28</td>
            <td> <p><a class="btn btn-default" href="#/" role="button">Viev &raquo;</a></p></td>
        </tr>
    </table>
    </p>
</div>