<!-- Страничка «Кабинет пользователя», вкладка «Текущие заказы»  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<p></p>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form role="form" class="form-inline">
            <div class="row">
                <div class="col-md-2">
                    <label for="Hotel">Hotel</label>
                    <select name="SelectHotel" id="SelectHotel" class="form-control" style="width:100%">
                        <option value="">- Hotel -</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="calCheckIn">Check-in date</label>
                    <input type="date" name="calCheckIn" class="form-control" style="width:100%">
                </div>
                <div class="col-md-3">
                    <label for="calCheckOut">Check-out date</label>
                    <input type="date" name="calCheckIn" class="form-control" style="width:100%">
                </div>
                <div class="col-md-2">
                    <label for="calCheckOut">Number of people</label>
                    <input type="number" name="inputNumberOfPeople" class="form-control" style="width:100%">
                </div>
                <div class="col-md-2">
                    <p>
                        <button name="buttonClear" class="btn" style="width:100%;">Clear</button>
                    </p>
                    <button name="buttonAdd" class="btn btn-success" style="width:100%">New Order</button>

                </div>
            </div>
        </form>


        <p>
            <table border="0" class="table">
                <tr>
                    <th>Order number</th>
                    <th>Hotel</th>
                    <th>Check-in time</th>
                    <th>Check-out Time</th>
                    <th>Number of people</th>
                    <th>Price</th>
                    <th>Feedback</th>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Example</td>
                    <td>12.10.1993</td>
                    <td>16.10.2017</td>
                    <td>7</td>
                    <td>28</td>
                    <td>
        <p><a class="btn btn-default" href="#/" role="button">Give feedback &raquo;</a></p></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Example</td>
            <td>12.10.1993</td>
            <td>16.10.2017</td>
            <td>7</td>
            <td>28</td>
            <td>
                <p><a class="btn btn-default" href="#/" role="button">Give feedback &raquo;</a></p></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Example</td>
            <td>12.10.1993</td>
            <td>16.10.2017</td>
            <td>7</td>
            <td>28</td>
            <td>
                <p><a class="btn btn-default" href="#/" role="button">Give feedback &raquo;</a></p></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Example</td>
            <td>12.10.1993</td>
            <td>16.10.2017</td>
            <td>7</td>
            <td>28</td>
            <td>
                <p><a class="btn btn-default" href="#/" role="button">Give feedback &raquo;</a></p></td>
        </tr>
        </table>
        </p>
    </div>
    <div class="text-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-1"></div>
</div>