<div>

    <!--<button ng-click="tc.toggleEditMode()">Edit</button>-->
    <!--<p>{{tc.editMode}}</p>-->

    <p><a class="btn btn-default" href="#!editHotel" role="button" ng-click="tc.toggleEditMode()">Edit</a></p>

    <p>id: {{tc.hotel.id}}</p>
    <p>Hotel Name: {{tc.hotel.hotelName}}</p>
    <p>Owner: {{tc.hotel.ownerId}} </p>
    <p>Description: {{tc.hotel.description}}</p>
    <!--<p>Location: {{tc.hotel.locationId}}</p>-->
    <p>Country: {{tc.hotel.fullAddess.country.name}}</p>
    <p>City: {{tc.hotel.fullAddess.city.name}}</p>
    <p>Street, Address: {{tc.hotel.fullAddess.location.streetAddress}}</p>
    <p>Postal Code: {{tc.hotel.fullAddess.location.postalCode}}</p>
    <p>GPS Co-ordinates: {{tc.hotel.fullAddess.location.gpscoords}}</p>
    <p>Rating: {{tc.hotel.hotelRating}}</p>
    <p>Wifi: <input type="checkbox" ng-model="tc.hotel.hasWifi" ng-disabled="true"></p>
    <p>Shuttle: <input type="checkbox" ng-model="tc.hotel.hasShuttle" ng-disabled="true"></p>
    <p>Smoking: <input type="checkbox" ng-model="tc.hotel.hasSmoking" ng-disabled="true"></p>
    <p>Parking: <input type="checkbox" ng-model="tc.hotel.hasParking" ng-disabled="true"></p>
    <p>Conditioning: <input type="checkbox" ng-model="tc.hotel.hasConditioning" ng-disabled="true"></p>
    <p>Pets: <input type="checkbox" ng-model="tc.hotel.hasPets" ng-disabled="true"></p>
    <p>Pool: <input type="checkbox" ng-model="tc.hotel.hasPool" ng-disabled="true"></p>
    <p>Kitchen: <input type="checkbox" ng-model="tc.hotel.hasKitchen" ng-disabled="true"></p>
    <p>Breakfast: <input type="checkbox" ng-model="tc.hotel.hasBreakfast" ng-disabled="true"></p>
    <p>Phone: {{tc.hotel.phone}}</p>
    <p>CheckIn Time: {{tc.hotel.checkInTime}}</p>
    <p>CheckOut Time: {{tc.hotel.checkOutTime}}</p>
    <p>images: {{tc.hotel.images}}</p>
    <p>Pay Systems: {{tc.hotel.paySysIds}}</p>
    <p>Preorder: <input type="checkbox" ng-model="tc.hotel.preorder" ng-disabled="true"></p>

    <p><a class="btn btn-default" href="#!/" role="button">Back &raquo;</a></p>

</div>