<div class="row">
    <div class="col-md-3">
        <div class="sidebar-nav">

            <ul class="nav nav-list">
                <li><p><a class="btn btn-default" ui-sref="ownerAddHotel" role="button" ng-click="">Add Hotel</a></p></li>


                <!--<li>-->
                    <!--<select name="SelectCountry" id="SelectCountry" class="form-control" style="width:100%"-->
                            <!--ng-options="countryOption.name for countryOption in hc.countries track by countryOption.id"-->
                            <!--ng-change="hc.selectCountry()" ng-model="hc.country">-->
                        <!--<option value="">- Country -</option>-->
                    <!--</select>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<select name="SelectCity" id="SelectCity" class="form-control" style="width:100%"-->
                            <!--ng-options="cityOption.name for cityOption in hc.cities track by cityOption.id"-->
                            <!--ng-change="hc.selectCity()" ng-model="hc.city">-->
                        <!--<option value="">- City -</option>-->
                    <!--</select>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<select name="SelectLocation" id="SelectLocation" class="form-control" style="width:100%"-->
                            <!--ng-options="locationOption.streetAddress for locationOption in hc.locations track by locationOption.id"-->
                            <!--ng-change="hc.selectLocation()" ng-model="hc.location">-->
                        <!--<option value="">- Address -</option>-->
                    <!--</select>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<p><a class="btn btn-default" href="" role="button" ng-click="hc.findHotel()" style="width:100%">Search&raquo;</a></p>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <h3>My hotels</h3>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="h in hc.hotels">
                <h3>{{h.hotelName}}</h3>
                <p>{{h.description}}</p>
                <p><a class="btn btn-default" role="button" ng-click="hc.selectHotel(h)">Update</a>
                <a class="btn btn-default" href="" role="button" ng-click="hc.deleteHotel(h)">Delete</a></p>
            </li>
        </ul>
    </div>
</div>