<form name="frm" ng-submit="hc.submitHotel()">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-6">
                    * - Required
                    <p></p>
                    <label for="HotelName">*Hotel Name</label>
                    <input type="text" name="inputHotelName" class="form-control" style="width:100%"
                           ng-model="hc.newHotel.hotelName" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p></p>
                    <label for="HotelDescription">*Description</label>
                    <textarea name="HotelDescription" ng-model="hc.newHotel.description" rows="5" class="form-control"
                              style="width:100%" required></textarea>
                </div>
            </div>

            <p></p>
            <div class="row">

                <div class="col-md-6">
                    <p></p>
                    <label for="HotelLocation">*Location</label>
                    <select name="SelectCountry" id="SelectCountry" class="form-control" style="width:100%"
                            ng-options="countryOption.name for countryOption in hc.countries track by countryOption.id"
                            ng-change="hc.selectCountry()" ng-model="hc.country">
                        <option value="">- Country -</option>
                    </select>
                    <br>
                    <select name="SelectCity" id="SelectCity" class="form-control" style="width:100%"
                            ng-options="cityOption.id as cityOption.name for cityOption in hc.cities track by cityOption.id"
                            ng-model="hc.newHotel.location.cityId"
                            ng-change="hc.checkAddress()">

                        <option value="">- City -</option>
                    </select>
                    <br>
                    <!--<select name="SelectLocation" id="SelectLocation" class="form-control" style="width:100%"-->
                            <!--ng-options="locationOption.streetAddress for locationOption in hc.locations track by locationOption.id"-->
                            <!--ng-change="hc.selectLocation()" ng-model="hc.location" required>-->
                        <!--<option value="">- Address -</option>-->
                    <!--</select>-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p></p>
                    <label for="streetAddress">*Street, Address</label>
                    <span ng-show="hc.isExistsAddress" style="color:red"> <strong>already exists.</strong></span>
                    <input type="text" name="inputStreetAddress" class="form-control" style="width:100%"
                           ng-change="hc.checkAddress()"
                           ng-model="hc.newHotel.location.streetAddress" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p></p>
                    <label for="postalCode">*Postal Code</label>
                    <input type="text" name="inputPostalCode" class="form-control" style="width:100%"
                           ng-model="hc.newHotel.location.postalCode" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p></p>
                    <label for="gpsCoords">*GPS Co-ordinates</label>
                    <input type="text" name="inputgpsCoords" class="form-control" style="width:100%"
                           ng-model="hc.newHotel.location.gpscoords" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p></p>
                    <label for="Phone">*Phone</label>
                    <input type="text" name="phone" class="form-control" style="width:100%" ng-model="hc.newHotel.phone"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>Wifi: <input type="checkbox" ng-model="hc.newHotel.hasWifi"></p>
                    <p>Shuttle: <input type="checkbox" ng-model="hc.newHotel.hasShuttle"></p>
                    <p>Smoking: <input type="checkbox" ng-model="hc.newHotel.hasSmoking"></p>
                    <p>Parking: <input type="checkbox" ng-model="hc.newHotel.hasParking"></p>
                    <p>Conditioning: <input type="checkbox" ng-model="hc.newHotel.hasConditioning"></p>
                    <p>Pets: <input type="checkbox" ng-model="hc.newHotel.hasPets"></p>
                    <p>Pool: <input type="checkbox" ng-model="hc.newHotel.hasPool"></p>
                    <p>Kitchen: <input type="checkbox" ng-model="hc.newHotel.hasKitchen"></p>
                    <p>Breakfast: <input type="checkbox" ng-model="hc.newHotel.hasBreakfast"></p>
                    <p>Preorder: <input type="checkbox" ng-model="hc.newHotel.preorder"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>*CheckIn Time: <input type="time" id="timeInput1" name="input"
                                            ng-model="hc.newHotel.cInTime"
                                            placeholder="HH:mm" min="00:00"
                                            max="23:59"
                                            required/></p>
                    <p>*CheckOut Time: <input type="time" id="timeInput2" name="input"
                                             ng-model="hc.newHotel.cOutTime"
                                             placeholder="HH:mm" min="00:00"
                                             max="23:59"
                                             required/></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p></p>
                    <label for="PaySystem">*Pay systems</label>
                    <select name="SelectPaySystem"

                            id="SelectPaySystem" class="form-control" style="width:100%"

                            ng-options="paySysOption.name for paySysOption in hc.paySystems track by paySysOption.id"
                            ng-model="hc.newHotel.paySystems" ng-change="hc.addPaysystem()" multiple required>
                    </select>
                </div>
            </div>


            <hr>
            <p></p>
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" class="btn" style="width:100%"
                           ng-disabled="frm.$invalid || hc.isCreated || hc.isExistsAddress">
                    <span>{{hc.creationResponse}}</span>
                </div>
                <div class="col-md-6">
                    <p><a class="btn btn-default" ui-sref="hotelOwner" role="button">Back</a></p>
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</form>
